
.o_kanban_dashboard.o_his_kanban .o_kanban_renderer.o_kanban_ungrouped {
	.o_kanban_record {
    width: 99%;
    height: auto;
	}
}

.o_clinic_dashboard_graph > canvas {
  height: 200px;
}
.o_clinic_dashboard_graph > canvas g.nv-x.nv-axis {
  transform: translateY(175px);
}

#his_dashboard {
  min-width: 99%;
  text-align: center;
}

.clinic_graph_linechart {
    display: block;
    height: 350px;
}