$one__light: rgb(249, 251, 253) !default;
$one__primary: #00B6A9;
$one__sidebar-color-hover: #009B91 !important;
$one__sidebar-border: #00B6A9 !important;
$one__sidebar-color: #00B6A9 !important;
$one__sidebar_text: #fff !default;
$one__primary-light: #e6f7f6 !default;
$one__primary-dark: #009B91 !important;
$one__light-font-primary: #12263f !important;
$one__light-font-secondary: #575757 !important;
$one__hover-bkg-light: #f5f5f5 !important;
$one__border-light: #edf2f9 !important;
$one__info: #454555 !important;
$one__muted: #95aac9 !important;