@font-face {
	font-family: Cerebri Sans;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/cerebrisans/cerebrisans-regular.eot);
	src: url(../fonts/cerebrisans/cerebrisans-regular%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-regular.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-regular.ttf) format("truetype")
}

@font-face {
	font-family: Cerebri Sans;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/cerebrisans/cerebrisans-medium.eot);
	src: url(../fonts/cerebrisans/cerebrisans-medium%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-medium.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-medium.ttf) format("truetype")
}

@font-face {
	font-family: Cerebri Sans;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/cerebrisans/cerebrisans-semibold.eot);
	src: url(../fonts/cerebrisans/cerebrisans-semibold%EF%B9%96.eot#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-semibold.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-semibold.ttf) format("truetype")
}

@font-face {
	font-family: Feather;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/feather/Feather%EF%B9%96sdxovp.ttf) format("truetype"), url(../fonts/feather/Feather%EF%B9%96sdxovp.woff) format("woff"), url(../fonts/feather/Feather%EF%B9%96sdxovp.svg#Feather) format("svg")
}
