$one__font: "Cerebri Sans", "Lucida Grande", Helvetica, Verdana, Arial,sans-serif;
$one__border: 0px;
$one__button-padding: auto;
$transition-normal: all 0.4s linear !default;
$transition-fast: all 0.2s linear !default;
$dots_menu_toggled: url("/dash_backend_theme/static/src/img/icons/dots-menu-primary.png");
$transition-normal: all 0.4s linear !default;
